//font-sizes
$font-size-35: 35px;
$font-size-21: 21px;
$font-size-17: 17px;
$font-size-150: 150px;
$font-size-20: 20px;
$font-size-25: 25px;

//margins
$m-0: 0;
$m-25: 25px;
$margin-left-60: 60px;
$margin-right-30: 30px;
$margin-top-60: 60px;
$margin-10: 10px;
$margin-40: 40px;

//paddings
$p-0: 0;
$p-50: 50px;
$p-20: 20px;
$p-10: 10px;

//widths
$width-210: 210px;
$width-1: 1px;
$width-150: 150px;
$width-190: 190px;

//heights
$height-50: 50px;
$height-120: 120px;
$height-40: 40px;
$height-650: 650px;
$height-150: 150px;

//colors
$black: black;

//bottom
$bottom-mins-10: -10%;
$bottom-30: 30%;

//color
$red: rgb(197, 57, 57);
$light-gray: lightgray;
$white: white;
$green: #1EC6B6;

//border-radius
$border-radius-5: 5px;